//- ==== Standard header ====

| title
| #{title}
| 
| cc_navierstokes # cell-centered incompressible Navier-Stokes
| 

//- ==== Time section ====

| 
|   # Time section
|   nsteps #{time.nsteps}
|   deltat #{time.deltat}
|   term   #{time.term}
| 
|   time_integration
|     type    #{time_integration.type}
|     CFLinit #{time_integration.CFLinit}
|     CFLmax  #{time_integration.CFLmax}
|     dtmax   #{time_integration.dtmax}
|     dtscale #{time_integration.dtscale}
|     thetaa  #{time_integration.thetaa}
|     thetak  #{time_integration.thetak}
|     thetaf  #{time_integration.thetaf}
|   end
| 

//- ==== Output section ====

| 
|   # Output options
|   pltype   #{output.pltype}
|   filetype #{output.filetype}
|   dump     #{output.dump}
|   plti     100
|   ttyi     10
| 

//- ==== Materials section ====

|   # Materials
each mat, index in materials
    | 
    |   material # #{mat.name}
    |       id     #{index + 1}
    |       rho    #{mat.rho}
    |       mu     #{mat.mu}
    |   end
    |   
    |   materialset # #{mat.name}
    |       id        #{index + 1}
    |       material  #{index + 1}
    |       block     #{mat.blockids}
    |   end
    | 

//- ==== Execution section ====

| 
|   load_balance
|     method       #{loadBalance.method}
|     diagnostics  #{loadBalance.diagnostics}
|   end
| 

//- ==== Solution section ====

| 
|   solution_method
|     strategy           #{solution.strategy}
|     itmax              #{solution.itmax}
|     eps                #{solution.eps}
|     eps_dist           #{solution.eps_dist}
|     eps_p0             #{solution.eps_p0}
|     timestep_control   #{solution.timestep_control}
|     diagnostics        #{solution.diagnostics}
|     convergence        #{solution.convergence}
|   end
| 
|   histvar
|     side  11 avgvel
| #    element 3720242 turbke
|     element 3720242 vel
|   end
| 
|   thti 2
| 
| 
|   plotvar
|     elem div
|     elem vel
|     elem procid
|     elem volume
| #    elem turbke
| #    node dist
|     node enstrophy
|     node pressure
|     node vel
|     node vorticity
|     node helicity
| 
|     # wall shear on the rods and spacers
|     #side 8 wallshear
|     #side 9 wallshear
|     #side 10 wallshear
| 
|     # yplus on the rods and spacer
|     # side 8 yplus
|     # side 9 yplus
|     # side 10 yplus
| 
|     # straction on the rods and spacers
|     # side 8 straction
|     # side 9 straction
|     # side 10 straction
|   end
| 
|   statistics
|     starttime 0.001
|     endtime 1
|     plotwinsize 0.001
|   end
| 
|   plotstatvar
|     node <velocity>
|     node <pressure>
|     node <helicity>
|     node <vorticity>
|     node tke
|     node reynoldsstress
|   end
| 
|   #tmodel rng_ke ->should default to a "good" turbulence model
|   # for time accurate use wale, spalart_allmaras_des and smagorinsky
|   tmodel smagorinsky
| 
|   # Simple IC's
|   initial
|     velx 0.0
|     vely 0.0
|     velz 5.2780
|     tke  0.0938  # turbulent kinetic energy
|     eps  30.3660 # turbulent dissipation rate
|     # the following seem to work as ICs for wale and smagorinsky but not spalart_allmaras_des
|     #tke  0.0938  # turbulent kinetic energy
|     #eps  30.3660 # turbulent dissipation rate
|   end
| 
|   # Normal distance BC's
|   distance
|     sideset 8 -1 0.0  # Sp1
|     sideset 9 -1 0.0  # Sp1
|     sideset 10 -1 0.0  # Sp1
|     sideset 3 -1 0.0  # Inner wall
|   end
| 
|   velocity
|     velx sideset 2 -1 0.0 # Inflow
|     vely sideset 2 -1 0.0
|     velz sideset 2 -1 5.2780
| 
|     velx sideset 8 -1 0.0 # Sp1
|     vely sideset 8 -1 0.0
|     velz sideset 8 -1 0.0
| 
|     velx sideset 9 -1 0.0 # Sp2
|     vely sideset 9 -1 0.0
|     velz sideset 9 -1 0.0
| 
|     velx sideset 10 -1 0.0 # Sp3
|     vely sideset 10 -1 0.0
|     velz sideset 10 -1 0.0
| 
|     velx sideset 3 -1 0.0 # Inner wall
|     vely sideset 3 -1 0.0
|     velz sideset 3 -1 0.0
| 
|     # -X Symmetry
|     velx sideset 7 -1 0.0
|     vely sideset 7 -1 0.0
| 
|     velx sideset 12 -1 0.0
|     vely sideset 12 -1 0.0
| 
|     velx sideset 13 -1 0.0
|     vely sideset 13 -1 0.0
| 
|     velx sideset 14 -1 0.0
|     vely sideset 14 -1 0.0
| 
|     # +X Symmetry
|     velx sideset 6 -1 0.0
|     vely sideset 6 -1 0.0
| 
|     velx sideset 18 -1 0.0
|     vely sideset 18 -1 0.0
| 
|     velx sideset 19 -1 0.0
|     vely sideset 19 -1 0.0
| 
|     velx sideset 20 -1 0.0
|     vely sideset 20 -1 0.0
| 
|     # -Y Symmetry
|     velx sideset 4 -1 0.0
|     vely sideset 4 -1 0.0
| 
|     velx sideset 15 -1 0.0
|     vely sideset 15 -1 0.0
| 
|     velx sideset 16 -1 0.0
|     vely sideset 16 -1 0.0
| 
|     velx sideset 17 -1 0.0
|     vely sideset 17 -1 0.0
| 
|     # +Y Symmetry
| 
|     velx sideset 5 -1 0.0
|     vely sideset 5 -1 0.0
| 
|     velx sideset 21 -1 0.0
|     vely sideset 21 -1 0.0
| 
|     velx sideset 22 -1 0.0
|     vely sideset 22 -1 0.0
| 
|     velx sideset 23 -1 0.0
|     vely sideset 23 -1 0.0
| 
|   end
| 
|    pressure
|     sideset 11 -1 0.0 # Outflow
|   end
| 
|   ppesolver
|     type  AMG
|     itmax 500
|     itchk 1
|     amgpc hypre
|     strong_threshold 0.85
|     coarse_size 1000
|     diagnostics off
|     convergence off
|     eps   1.0e-5
|   end
| 
|   momentumsolver
|     type  ILUFGMRES
|     itmax 50
|     itchk 2
|     restart 25
|     diagnostics off
|     convergence off
|     eps   1.0e-5
|   end
| 
| end
| 
| exit
